<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://alaabensaid.github.io/demo/folder/bike.ipa</string>
		<key>displayImageURL</key>
		<string>https://alaabensaid.github.io/demo/folder/image57-57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://alaabensaid.github.io/demo/folder/image512-512.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>82BVW3SXAU</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
